body{
  background-color: rgba(177, 174, 174, 0.5);
  margin:0%;
  margin-bottom: 40%;
  margin-top: 5%;
  padding:0%;
  height:100%;
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;

}
.nav-bar {
    width: 100%;
    position: fixed;
    top:-9.8%;
    left: 0;
}
.nav-container {
    overflow: hidden;
    margin: 2.95% auto;
}
nav.nav-bar ul {
  list-style: none;
}
.nav-list {
  margin: 0 auto;
  width: 160%;
  padding: 0;
}
.nav-list li {
  float: left;
  width:12.5%;
  background-color: rgba(42, 39, 42, 0.69);
}
.nav-list li a {
  display: block;
  color: #f9f9f9;
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  padding: 30px 30px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition:all 0.2s linear;
   -moz-transition:all 0.2s linear;
     -o-transition:all 0.2s linear;
        transition:all 0.2s linear;
}
.nav-list li a:hover {
  -webkit-filter: brightness(1.3);
  padding-top: 50px ;
}
footer {
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
  background-color:#000;
  margin-top: 30%;
}
footer h3{  
  color: #fff;
  font-size:2.1em;
  font-family:serif ;
  margin: 10px 0 100px 1125px;
  position: absolute;
  float: right;
}
#album{
  width: 100%;
  padding:  0%;
  text-align: center;
}
.albuns{
  display: inline-block;
  width: 20%;
  height: 10%;
  margin-left: 5%;
  margin-top:5%; 
  
}
img{
  width:100%;
  height: 100%;
  padding: 0%;
  border:2px solid #000;
}

h4{
  text-align: center;
  font-size: 1.1em;
  position: relative;

}
h4 a{ 
  background-color: rgba(196, 196, 195, 0.5);
  text-decoration: none;
  color: #000;
  position: absolute;
  margin-top: 60%;
  margin-left: -5%;
}
