body{
  background-color: rgba(177, 174, 174, 0.5);
  margin:0%;
  margin-bottom: 50%;
  margin-top: 5%;
  padding:0%;
  height:100%;
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
  overflow-x: hidden;

}
.nav-bar {
    width: 100%;
    position: fixed;
    top:-9.8%;
    left: 0;
    z-index: 9999;
}
.nav-container {
    overflow: hidden;
    margin: 2.95% auto;
}
nav.nav-bar ul {
  list-style: none;
}
.nav-list {
  margin: 0 auto;
  width: 160%;
  padding: 0;
}
.nav-list li {
  float: left;
  width:12.5%;
  background-color: rgba(42, 39, 42, 0.69);
}
.nav-list li a {
  display: block;
  color: #f9f9f9;
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  padding: 30px 30px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  -o-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.nav-list li a:hover {
  -webkit-filter: brightness(1.3);
  padding-top: 50px ;
}
footer {
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
	background-color:#000;
	margin:0;
}
footer h3{
	color: #fff;
	font-size:2.1em;
	font-family:serif ;
	margin: 10px 0 100px 1125px;
	position: absolute;
	float: right;
}
.album1{
  width: 100vw;
}
.fotos{
  display: flex;
  position: relative;
  width: 25vw;
  height: 60vh;
  margin: 2vh 4vw;
  float: left;
}
img:not(.especial1):not(.especial2){
  width: inherit;
  height: inherit;
  border:2px solid #000;
  margin: auto;
}
.especial1{
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw !important;
  height: 50% !important;
  border:2px solid #000;
}
.especial2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25vw !important;
  height: 50% !important;
  border:2px solid #000;
}



.moddle{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0,0,0, .7);
}
.close{
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'century gothic';
  padding: 10px;
  font-size: 50px;
  font-weight: normal;
  color: rgb(200, 86, 75);
  cursor: pointer;
}
.moddle-img{
  display: block;
  width: 400px !important;
  height: auto !important;
  margin: auto;
}
.grande{
  width: 450px;
  height: 500px;
  position: relative;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 60%;
  display: flex;
  flex-flow: wrap row;
}
